@media only screen and (max-width: 557px) {
    .total-width {
        width: 90%;
    }
  }

.img-height {
    width: 99%;
    margin: 20px 15px;
    border: 5px solid green;
    border-radius: 10px;
}
.total-width {
    height: 500px;
    border: 6px solid red;
    border-radius: 10px;
    margin-top: 10px;
}


